@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --cor-principal-red: #ec1f24;
  --cor-secundaria-black: #000000;
  --cor-tercearia-white: #ffffff;
}

body {
  color: var(--cor-tercearia-white);
  background-color: var(--cor-secundaria-black);
}

#section-produtos {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-black);
  border-width: 1px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, #000, var(--cor-principal-red), #000)
    1;
}

#section-produtos .container-produtos {
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-produtos-titulos p {
  padding: 30px;
  color: var(--cor-principal-red);
  font-size: 2em; /* Aumentado para maior destaque */
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold; /* Adicionado para negrito */
}

#section-produtos #section-produtos-titulos h1 {
  margin-bottom: 20px;
}

#section-container-passos {
  width: 300%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-wrapper {
  padding: 50px;
  display: flex;
  gap: 10px; /* Aumentado o espaçamento entre imagens */
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.imagem-passos {
  width: 400px; /* Aumentado o tamanho da largura */
  height: 400px; /* Aumentado o tamanho da altura */
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
}

.imagem-passos:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

@media (max-width: 768px) {
  .imagem-passos {
    width: 500px; /* Ajustado para telas menores */
    height: 500px;
  }

  #section-produtos-titulos p {
    font-size: 1.7em; /* Ajustado para telas menores */
  }
}

@media (max-width: 480px) {
  .imagem-passos {
    width: 350px; /* Ajustado para dispositivos móveis */
    height: 350px;
  }

  #section-produtos-titulos p {
    font-size: 1.5em; /* Ajustado para dispositivos móveis */
  }
}
