@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.compras-container {
  background-image: url(/assets/images/fundo2.png);
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.compras-main-title {
  padding: 40px;
  color: #ec1f24;
  font-size: 36px;
  margin-bottom: 20px;
}

.compras-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-wrap: wrap;
  gap: 2px;
  padding: 0 26px;
}

.compras-column,
.frete-column {
  flex: 1 1 30%;
  max-width: 30%;
  text-align: center;
  margin: 0;
}

.frete-column {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.compras-title,
.frete-title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #fff;
}

.compras-icons,
.compras-shipping-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}

.compras-icons img,
.compras-shipping-icons img {
  padding: 10px;
  width: 85px;
  height: 85px;
  object-fit: contain;
  display: inline-block;
  margin: 2px;
}

.compras-shipping-icons img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.frete-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.frete-container label {
  font-size: 18px;
  color: white;
}

.frete-container input {
  padding: 10px;
  border: 2px solid #ec1f24;
  border-radius: 50px;
  width: 50%;
  font-size: 20px;
  margin: 0 auto;
  display: block;
}

.frete-result {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

#frete-value {
  font-weight: bold;
  color: #ec1f24;
}

.compras-footer {
  margin-top: 70px;
}

.compras-whatsapp-link {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.compras-whatsapp-icon {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.compras-help-text {
  font-size: 30px;
}

@media (max-width: 768px) {
  .compras-columns {
    flex-direction: column;
    gap: 15px;
  }

  .compras-column,
  .frete-column {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .compras-title,
  .frete-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .compras-icons img,
  .compras-shipping-icons img {
    width: 80px;
    height: 56px;
  }

  .compras-help-text {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .compras-main-title {
    font-size: 28px;
  }

  .compras-title,
  .frete-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .compras-icons img,
  .compras-shipping-icons img {
    width: 60px;
    height: 42px;
  }

  .compras-help-text {
    font-size: 20px;
  }

  .compras-whatsapp-link {
    padding: 20px;
  }
}
