@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.conheca-Destroyer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 20px;
  background-color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.conheca-Destroyer-text h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.conheca-Destroyer-text h2 .color-red {
  color: #ec1f24;
  display: inline;
}

.conheca-Destroyer-text p {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .conheca-Destroyer-container {
    padding: 50px 10px;
  }

  .conheca-Destroyer-text h2 {
    font-size: 28px;
  }

  .conheca-Destroyer-text p {
    font-size: 16px;
  }
}
